
c++/ClusterEncryption/.idea/misc.xml
c++/ClusterEncryption/.idea/workspace.xml

[http]
    proxy = socks5://127.0.0.1:1080
[https]
    proxy = socks5://127.0.0.1:1080
[git]
    proxy = socks5://127.0.0.1:1080